.activity {
    padding: 10px 40px;
    background: #5bb4e5;
    border-radius: 10px;
}

.tip {
    padding: 10px 40px;
    background: #57bab7;
    border-radius: 10px;
}

.binder {
    padding: 10px 40px;
    background: #ecac00;
    border-radius: 10px;
}